---
const asciiName = `
__________                     __    ____________ _________________ 
\\____    /____  _____    ____ |  | _/_   \\_____  \\\\_____  \\______  \\
  /     /\\__  \\ \\__  \\ _/ ___\\|  |/ /|   | _(__  <  _(__  <   /    /
 /     /_ / __ \\_/ __ \\\\  \\___|    < |   |/       \\/       \\ /    / 
/_______ (____  (____  /\\___  >__|_ \\|___/______  /______  //____/  
        \\/    \\/     \\/     \\/     \\/           \\/       \\/         
`;
---

<div class="shadow-md backdrop-blur-xl  hidden md:flex md:justify-center">
  <pre
  class="text-xs leading-none text-red-700 drop-shadow-[0_0_8px_#3b82f6] text-center
  text-[9px] sm:text-xs md:text-sm lg:text-base whitespace-pre-wrap glitch sm:p-1.5 " aria-hidden="true"
  >
  {asciiName}
  </pre>
</div>
