<footer class="mt-32 w-full bg-[#0d0d0d] text-gray-300 py-6 border-t border-gray-800">
  <div class="max-w-5xl mx-auto px-4 flex flex-col md:flex-row justify-center items-center gap-4">
    <p class="text-sm text-center md:text-left font-mono">
      &copy; 2025 Zaack1337. 本物のハッカー - Feito com ☠️, Linux e Slipknot.
    </p>
  </div>
</footer>
