---

---

<div class="flex flex-col">
  <div
    class="flex items-center justify-center mt-5 flex-col gap-2 md:flex-row md:gap-[220px] s"
  >
    <div class="flex flex-col gap-1.5">
      <h1 class="text-2xl textGlitch text-blue-500 font-semibold">Zaack1337</h1>
      <ul class="flex gap-1.5 justify-center md:justify-start">
        <a href="https://tryhackme.com/p/zaack"
          target="_blank"><img src="/tryhackme.svg" alt="" class="w-8 h-8" /></a
        >
        <a href="https://github.com/zaack1337" target="_blank"><img src="/github.svg" alt="" class="w-8 h-8"/></a>
      </ul>
    </div>

    <img
      src="/photoIndex.jpg"
      alt=""
      class="w-[150px] h-[150px] rounded-full border-2 imgGlitch"
    />
  </div>
  <div class="flex items-center justify-center mt-6 flex-col gap-3.5 ml-1.5">
    <div class="flex gap-1 flex-col">
      <h1 class="text-xl md:text-2xl text-blue-500 font-semibold">
        Web Hacker
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illum <br
        />
        atque et a dignissimos minus hic reiciendis, quia debitis sit. Odit <br
        />
        explicabo facilis sint aperiam ducimus suscipit aut nemo quos? <br />
      </p>
    </div>
    <div class="flex gap-1 flex-col">
      <h1 class="text-xl md:text-2xl text-blue-500 font-semibold">Test</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa vel <br
        />
        laudantium aperiam asperiores perferendis. Iure deserunt quae, facilis <br
        />
        illo sit ratione totam culpa aperiam neque sed! Culpa nostrum sequi <br
        />
        doloremque.
      </p>
    </div>
  </div>
</div>

<script src="../utils/imgGlitch.ts"></script>
<script src="../utils/textGlitch.ts"></script>
