---

---

<div class="flex flex-col">
  <div class="flex items-center justify-center mt-5 flex-row gap-56">
    <h1 class="text-2xl textGlitch">Zaack1337</h1>
    <img src="/photoSobre.jpg" alt="" class="w-[150px] rounded-full border-2 imgGlitch" />
  </div>
  <div class="flex items-center justify-center mt-6 flex-col">
    <div>
      <h1 class="text-2xl ">Web Hacker</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illum <br>
        atque et a dignissimos minus hic reiciendis, quia debitis sit. Odit <br>
        explicabo facilis sint aperiam ducimus suscipit aut nemo quos? <br>
      </p>
    </div>
  </div>
</div>

<script src="../utils/imgGlitch.ts"></script>
<script src="../utils/textGlitch.ts"></script>
