---

---

<div class="flex items-center justify-center mt-5 flex-col gap-5">
  <img src="/photoSobre.jpg" alt="" class="w-[300px] rounded-full border-2" />
  <p class="text-[20px]">
    Hello, my name is zaack1337, I'm a WebHacker and I have experience in <br />
    real projects. I have experience in programming with TS, PY and C and I <br
    />
    like malware. I love Open Source, Linux, among other things. Currently, <br
    />
    I use Arch Linux and I love it. Right now my focus is Pentest and <br />
    RedTeam and I hope to work in this area in the future.
  </p>
  <img src="/4e06efcc83a87d429455a4ed996e3651.png" alt="" class="w-[400px]" />
</div>
