---
import "../styles/global.css";
import Banner from "../components/Banner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/5b2772cfe3ca3586b4c817eec59f1a18.gif"
    />
    <meta name="generator" content={Astro.generator} />
    <title>zaack1337</title>
  </head>
  <body>
	<Banner/>
    <main class="max-w-[1200px] mx-auto">
      <slot />
    </main>
  </body>
</html>
