---
import '../styles/global.css'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/5b2772cfe3ca3586b4c817eec59f1a18.gif" />
		<meta name="generator" content={Astro.generator} />
		<title>zaack1337</title>
	</head>
	<body>
		<slot />
	</body>
</html>
